<div fxLayout="column" fxLayoutAlign="space-between center">
    <mat-card *ngIf="userDetails" class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ userDetails.username }}</mat-card-title>
            <mat-card-subtitle>{{ userDetails.registrationDate }}</mat-card-subtitle>
            <mat-card-subtitle>{{ userDetails.lastLoginDate }}</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</div>
<app-tweets [tweets]="tweets"></app-tweets>