<div fxLayout="column" fxLayoutAlign="space-between center">
    <mat-card *ngIf="tweet" class="card">
        <mat-card-header>
            <div (click)="goToProfilePage()" mat-card-avatar [ngStyle]='getUserAvatar(tweet)' class="header-image"></div>
            <mat-card-title>{{ tweet.username }}</mat-card-title>
            <mat-card-subtitle>{{ tweet.postDate }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{ tweet.text }}
            </p>
        </mat-card-content>
        <mat-card-actions fxLayout="row" fxLayoutAlign="end">
            <app-tweet-actions 
            [tweet]="tweet"
            (postTweet)="replyTweet()"
            (deleteTweetId)="deleteTweet($event)"
            (starTweetId)="starTweet($event)"
            >
        </app-tweet-actions>
        </mat-card-actions>
    </mat-card>
</div>