.example-card {
    width: 80%;
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    cursor: pointer;
}

mat-card {
    margin-top: 10px;
}

.star-action {
    color: #e2f10d;
}