<mat-toolbar color="primary">
    <mat-toolbar-row class="div">
        <div>
            <a mat-button routerLink='/home' routerLinkActive='active-route-class'
                [routerLinkActiveOptions]='{exact: true}'> {{ 'Menu.Home' | translate }} </a>
            <a mat-button routerLink='/login' routerLinkActive='active-route-class'
                [routerLinkActiveOptions]='{exact: true}'> {{ 'Menu.Login' | translate }} </a>
            <a mat-button routerLink='/register' routerLinkActive='active-route-class'
                [routerLinkActiveOptions]='{exact: true}'> {{ 'Menu.Register' | translate }} </a>
            <a mat-button (click)='logout()'> {{ 'Menu.Logout' | translate }} </a>
        </div>
        <!-- <span class="example-spacer"></span> -->
        <div>
            <app-lang-choice></app-lang-choice>
        </div>
    </mat-toolbar-row>
</mat-toolbar>