.active-route-class{
    color: #ee3a0d;
}

.example-spacer {
    flex: 1 1 auto;
}

.div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}

.example {
    width: 100%;
}